/* 
Main stylesheet for Knownledge Base Repo
v. 0.01a

Build by Mistxs for favourite  YCLIENTS team 
*/


#breadcrumb li {
    list-style-type: none;
    font-size: 0.8em;
    position: relative;
    display: inline-block;
    float: left;
    /* background: #2980b9; */
    /* color: #fff; */
    text-decoration: none;
    /* padding: 0 10px 0 20px; */
    transition: all 0.1s ease-in-out;
}