/* 
Main stylesheet for Knownledge Base Repo
v. 0.01a

Build by Mistxs for favourite  YCLIENTS team 
*/


#breadcrumb li {
    list-style-type: none;
    font-size: 0.9em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
}

#breadcrumb li a:hover { color: #eb722e; }

#breadcrumb li a:after {
      content: " / "; /* Добавляемый текст */ 
      padding: 2px; /* Поля вокруг текста */ 
    }

#breadcrumb li a:hover:after {
    color: #039be5;
    }

#breadcrumb li a:nth-child(3):after {
      content: ""; /* Добавляемый текст */ 
      padding: 2px; /* Поля вокруг текста */ 
    }

